html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

header {
    background-color: #FEFCFB;
    padding: 20px;
}

.d-flex {
    display: flex;
}

/* ---- Navbar Start ---- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    margin: 0 auto;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 60px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar .btn-login {
    color: #FD8D3A;
    background-color: transparent;
    border: 0px;
}

.navbar .btn-sign {
    color: white;
    background-color: #FD8D3A;
    border: 0px;
    padding: 10px 30px;
    border-radius: 5px;
}

/* ---- Navbar End ---- */

/* ---- Header Start ---- */
.header {
    display: flex;
    align-items: center;
    width: 1080px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.header .header-content {
    width: 50%;
}

.header .header-content .header-heading {
    font-size: 64px;
    font-weight: bold;
    line-height: 70px;
}

.header .header-content .header-heading span {
    color: #FA7436;
}

.header .header-content .header-subheading {
    font-size: 20px;
    margin: 20px 0px;
    line-height: 40px;
}

.header .header-image {
    width: 50%;
    background-image: url(image.png);
    height: 585px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.header .btn-discover {
    background-color: transparent;
    border: 1px solid #FA7436;
    border-radius: 5px;
    padding: 10px 30px;
}

.header .btn-explore {
    background-color: #FA7436;
    border: 1px solid #FA7436;
    border-radius: 5px;
    padding: 10px 30px;
}

.features {
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 0px 2px 80px 0px #00000021;
    -webkit-box-shadow: 0px 2px 80px 0px #00000021;
    -moz-box-shadow: 0px 2px 80px 0px #00000021;
    border-radius: 10px;
}

.features ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
    align-items: center;
    padding: 0 20px;
}

.features .features-header {
    font-weight: bold;
}

/* ---- Header Start ---- */

/* Section 1 */
.section-1 {
    background-color: #F7F8FC;
    padding: 60px;
}

.section-1 .section-1-content {
    margin: 40px auto;
}

.section-1 .section-1-content .Section-1-Heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.section-1 .section-1-content .Section-1-Heading span {
    color: #FA7436;
}

.section-1 .section-1-content .Section-1-SubHeading {
    font-size: 18px;
    text-align: center;
    margin: 20px 0px;
    line-height: 32px;
}

.section-1 .section-1-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.section-1 .section-1-cards .card {
    width: 220px;
    background-color: #fff;
    padding: 40px;
    border: 2px solid rgba(102, 102, 102, 0.08);
    border-radius: 8px;
}

.section-1 .section-1-cards .card img {
    width: 48px;
    height: 48px;
}

.section-1 .section-1-cards .card .Section-1-Card-Heading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.section-1 .section-1-cards .card .Section-1-card-subheader {
    font-size: 16px;
    color: #666666;
}

/* Section 1 */
/* Section 2 */
.section-2 {
    background-color: #FEFCFB;
    padding: 60px;
}

.section-2 .section-2-content {
    margin: 40px auto;
}

.section-2 .section-2-content .Section-2-Heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 54px;
}

.section-2 .section-2-content .Section-2-Heading span {
    color: #FA7436;
}

.section-2 .section-2-content .Section-2-SubHeading {
    font-size: 18px;
    text-align: center;
    margin: 20px 0px;
    line-height: 32px;
}

.section-2 .section-2-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;

    flex-wrap: wrap;
}

.section-2 .section-2-cards .card {
    background-color: #fff;
    border: 2px solid rgba(102, 102, 102, 0.08);
    border-radius: 8px;
}

.section-2 .section-2-cards .card:hover {
    box-shadow: 0px 18px 80px 0px rgba(254, 147, 94, 0.2);
    cursor: pointer;
}


.section-2 .section-2-cards .card img {
    width: 270px;
    height: 290px;
}

.section-2 .section-2-cards .section-2-card-content {
    margin: 20px;
}

.section-2 .section-2-cards .section-2-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.section-2 .section-2-cards .section-2-card-header .section-2-city {
    font-weight: bold;
    font-size: 24px;
}

.section-2 .section-2-cards .section-2-card-header .section-2-rating {
    font-size: 18px;
    color: #666666;
}

.section-2 .section-2-cards .section-2-card-header .section-2-rating img {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.section-2 .section-2-card-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2 .section-2-country {
    font-size: 18px;
    color: #666666;
}

.section-2 .section-2-card-subheader .section-2-country img {
    width: 12.57px;
    height: 16px;
    margin-right: 10px;
}

.section-2 .section-2-org-price {
    font-size: 18px;
    color: #666666;
    margin: 0 10px;
    text-decoration: line-through;
    text-decoration-color: #666666;
}

.section-2 .section-2-dis-price {
    background-color: #FFE7DB;
    padding: 5px;
    border-radius: 8px;
    color: #FA7436;
    font-size: 18px;
    font-weight: bold;
}

.section-2 .section-2-cards-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.section-2 .section-2-cards-buttons button {
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 100%;
    padding: 10px 15px;
}

.section-2 .section-2-cards-buttons button:hover {
    background-color: #FA7436;
    border: 1px solid #FA7436;
    color: white;
    cursor: pointer;
}

/* Section 2 */
/* Section 3 */
.section-3 {
    background-color: #FEFCFB;
    padding: 60px;
}

.section-3 .section-3-content {
    margin: 40px auto;
}

.section-3 .section-3-content .Section-3-Heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 54px;
}

.section-3 .section-3-content .Section-3-Heading span {
    color: #FA7436;
}

.section-3 .section-3-content .Section-3-SubHeading {
    font-size: 18px;
    text-align: center;
    margin: 20px 0px;
    line-height: 32px;
    color: #666666;
}

.section-3 .section-3-cards-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.section-3 .section-3-cards-buttons button {
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 100%;
    padding: 10px 15px;
}

.section-3 .section-3-cards-buttons button:hover {
    background-color: #FA7436;
    border: 1px solid #FA7436;
    color: white;
    cursor: pointer;
}

.section-3 .section-3-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.section-3 .section-3-cards .card {
    background-color: #fff;
    border: 2px solid rgba(102, 102, 102, 0.08);
    border-radius: 8px;
}

.section-3 .section-3-cards .card:hover {
    box-shadow: 0px 18px 80px 0px rgba(254, 147, 94, 0.2);
    cursor: pointer;
}


.section-3 .section-3-cards .card img {
    width: 369px;
    height: 290px;
}

.section-3 .section-3-cards .section-3-card-content {
    margin: 20px;
}

.section-3 .section-3-cards .section-3-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.section-3 .section-3-cards .section-3-card-header .section-3-city {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.section-3 .section-3-cards .section-3-card-header .section-3-price {
    font-size: 24px;
    font-weight: bold;
    color: #FA7436;
}

.section-3 .section-3-cards .section-3-card-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3 .section-3-cards .section-3-card-subheader .section-3-days img {
    width: 18.79px;
    height: 16px;
    margin-right: 10px;
}

.section-3 .section-3-cards .section-3-card-subheader .section-3-days {
    font-size: 16px;
    color: #666666;
}

.section-3 .section-3-cards .section-3-card-subheader .section-3-rating {
    font-size: 16px;
    color: #666666;
}

.section-3 .section-3-cards .section-3-card-subheader .section-3-rating img {
    width: 18.79px;
    height: 16px;
    margin-right: 10px;
}

/* Section 3 */
/* Section 4 */
.section-4 {
    background-color: #F7F8FC;
    padding: 60px;
}

.section-4 .section-4-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.section-4 .section-4-heading-container .Section-4-Heading {
    font-size: 48px;
    font-weight: bold;
}

.section-4 .section-4-heading-container .Section-4-Heading span {
    color: #FA7436;
}

.section-4 .section-4-heading-container .Section-4-SubHeading {
    font-size: 18px;
    color: #666666;
    margin: 20px 0px;
    line-height: 32px;
}

.section-4 .section-4-heading-container .section-3-cards-buttons {

    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.section-4 .section-4-heading-container .section-3-cards-buttons button {
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 100%;
    padding: 10px 15px;
}

.section-4 .section-4-heading-container .section-3-cards-buttons button:hover {
    background-color: #FA7436;
    border: 1px solid #FA7436;
    color: white;
    cursor: pointer;
}

.section-4 .section-4-reviews .section-4-reviews-card {
    /* width: 541px; */
}

.section-4 .section-4-reviews .section-4-reviews-card .section-4-card-content {
    width: 324px;
    background-color: #FFFFFF;
    padding: 20px;
    position: relative;
}

.section-4 .section-4-reviews .section-4-reviews-card .section-4-card-content img {
    position: absolute;
    top: -30px;
    left: -30px;
}

.section-4 .section-4-reviews .section-4-reviews-card.active-card .section-4-card-content {
    box-shadow: 0px 18px 80px 0px rgba(254, 147, 94, 0.2);
    position: relative;
    z-index: 1;
}

.section-4 .section-4-reviews {
    margin: 30px 0px;
}

.section-4 .section-4-reviews .section-4-reviews-card:not(.active-card) {
    cursor: pointer;
    position: absolute;
    z-index: 0;
    transform: translate(30px, -120px);
    opacity: 0.3;
}

.Section-4-Review-SubHeading {
    font-size: 16px;
    color: #444444;
    line-height: 25px;
}

.Section-4-Reviewer-Name {
    font-size: 18px;
    font-weight: bold;
}

.Section-4-Reviewer-subhead {
    font-size: 14px;
    color: #666666;
}

/* Section 4 */
/* Section 5 */
.section-5 {
    background-color: #FEFCFB;
    padding: 60px;
}

.section-5 .section-5-content {
    margin: 40px auto;
}

.section-5 .section-5-content .Section-5-Heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 54px;
}

.section-5 .section-5-content .Section-5-Heading span {
    color: #FA7436;
}

.section-5 .section-5-content .Section-5-SubHeading {
    font-size: 18px;
    text-align: center;
    margin: 20px 0px;
    line-height: 32px;
}

.section-5 .section-5-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.section-5 .section-5-cards .card {
    border-radius: 8px;
}

/* .section-5 .section-5-cards .card:hover {
    box-shadow: 0px 18px 80px 0px rgba(254, 147, 94, 0.2);
    cursor: pointer;
} */


.section-5 .section-5-cards .card img {
    width: 270px;
    height: 270px;
}

.section-5 .section-5-cards .section-5-card-content {
    margin: 20px 0;
}

.section-5 .section-5-cards .section-5-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.section-5 .section-5-cards .section-5-card-header .section-5-title {
    width: 244px;
    font-weight: bold;
    font-size: 18px;
}

.section-5 .section-5-card-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-5 .section-5-date {
    font-size: 16px;
    color: #999999;
}

.section-5 .section-5-cards-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.section-5 .section-5-cards-buttons div:hover {
    cursor: pointer;
}

.section-5-paggination {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #E5E5E5;
}

.section-5-paggination.active {
    background-color: #FA7436;
    height: 14px;
    width: 14px;
}

/* Section 5 */
/* Section 6 */

.section-6 {
    padding: 60px;
}

.section-6-content {
    display: flex;
    justify-content: center;
}

.section-6-content .section-6-main-section {
    border-radius: 16px;
    background-color: #FA7436;
    padding: 50px 200px;
    text-align: center;
    position: relative;
    width: 50%;
}

.Section-6-Heading {
    color: #ffffff;
    font-size: 48px;
    margin: 0px;
    padding: 0px;
}

.circls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 380px;
}

.trees {
    position: absolute;
    top: 0;
    right: 0;
}

.section-6-mail {
    margin-top: 30PX;
    position: relative;
    z-index: 1;
    text-align: left;
    padding: 10px 15px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.section-6-mail input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 16px;
}

.section-6-mail button {
    background-color: #FA7436;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

/* Section 6 */
/* footer */
footer {
    padding: 20px 200px;
}

footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

footer .footer-content .links {
    display: flex;
    flex-wrap: wrap;
}

footer .footer-content .links ul {
    list-style: none;
    margin: 0 100px 0 0px;
    padding: 0;
}


footer .footer-content .links ul li:first-child {
    font-weight: bold;
    color: #222222;
    margin: 20px 0px;
}

footer .footer-content .links ul li {
    margin: 10px 0px;
    color: #666666;
}

footer .Copyright {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/* footer */

@media (width<=1024px) {
    header .navbar {
        width: 100%;
    }

    header .header {
        width: 100%;
    }

    .section-3 .section-3-cards .card img {
        width: 270px;
    }

    
    footer {
        padding: 20px 100px;
    }
}

@media (width < 768px) {

    header .navbar,
    .features ul {
        display: none;
    }

}

@media (width < 580px) {
    .section-4 .section-4-reviews .section-4-reviews-card:not(.active-card) {
        transform: translate(0px, -160px);
    }

    .section-6-content .section-6-main-section {
        padding: 50px;
        width: 100%;
    }
}

@media (width <=435px) {
    .header .header-content {
        width: 100%;
    }

    header .header .header-image {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-attachment: fixed;
        filter: opacity(0.5);
    }

    .section-4 .section-4-reviews .section-4-reviews-card .section-4-card-content {
        width: 160px;
    }

    .circls {
        width: 300px;
    }

    footer {
        padding: 20px 30px;
    }
}